
<div class="col-12 col-lg-9 mt-4 mt-lg-0">
    <div class="card">
        <div class="card-header">
            <h5>Change Password</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-12 col-lg-7 col-xl-6">
                    <form [formGroup]="passwordForm" (ngSubmit)="ChangePassword()">
                        <div class="form-group">
                            <label for="password-current">Current Password</label>
                            <input type="password" class="form-control"
                            formControlName="opassword"
                            id="password-current" placeholder="Current Password"
                            [ngClass]="{'is-invalid': submitted && f.opassword.errors}">
                              <div *ngIf="submitted && f.opassword.errors" class="invalid-feedback">
                                <div *ngIf="f.opassword.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password-new">New Password</label>
                            <input type="password" class="form-control" 
                            formControlName="npassword"
                            id="password-new" placeholder="New Password"
                            [ngClass]="{'is-invalid': submitted && f.npassword.errors}">
                              <div *ngIf="submitted && f.npassword.errors" class="invalid-feedback">
                                <div *ngIf="f.npassword.errors.required">Password is required</div>
                                <div *ngIf="f.npassword.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password-confirm">Reenter New Password</label>
                            <input type="password" class="form-control" 
                            formControlName="cpassword"
                            id="password-confirm" placeholder="Re-enter New Password"
                            [ngClass]="{'is-invalid': submitted && f.cpassword.errors}">
                               <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                                 <div *ngIf="f.cpassword.errors.required">Password is required</div>
                                 <div *ngIf="f.cpassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                        <div class="form-group mt-5 mb-0">
                            <button type="submit" [ladda]="loading" class="btn btn-primary">Change</button>
                        </div>
                        <div *ngIf="error" class="alert alert-danger mt-2">{{error}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>