<!-- .block-slideshow -->
<div class="block-slideshow block-slideshow--layout--with-departments block">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-3 d-none d-lg-block"></div>
            <div class="col-12 col-lg-9">
                <div class="block-slideshow__body" *ngIf="banners">
                    <ngx-slick-carousel class="carousel"
                                        #SlickModal="slick-carousel"
                                        [config]="bannerSlideConfig">
                        <div ngxSlickItem *ngFor="let banner of banners">
                            <img [src]="Image_data(banner.pictures,'avatar','null')" alt="" width="100%">
                            <div class="bottom-left">
                                <h4>{{banner.details}}</h4></div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-slideshow / end -->

<!-- .block-features -->
<div class="block block-features block-features--layout--classic">
    <div class="container">
        <div class="block-features__list">
            <div class="block-features__item">
                <div class="block-features__icon">
                    <!--<img src="./assets/images/logos/free_delivery.jpg" style="width: 140%;height: 54px; margin-left: -20%;" />-->
                    <svg width="48px" height="48px">
                        <use xlink:href="./assets/images/sprite.svg#fi-free-delivery-48"></use>
                    </svg>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Free Shipping</div>
                    <div class="block-features__subtitle">For orders from $50</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <!--<img src="./assets/images/logos/247_customer_support.png" -->
                         <!--style="width: 140%;height: 54px; margin-left: -10%;" />-->

                    <svg width="48px" height="48px">
                        <use xlink:href="./assets/images/sprite.svg#fi-24-hours-48"></use>
                    </svg>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Support 24/7</div>
                    <div class="block-features__subtitle">Call us anytime</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <!--<img src="./assets/images/logos/secure-payment.png" style="width: 140%;height: 54px; margin-left: -10%;" />-->

                    <svg width="48px" height="48px">
                        <use xlink:href="./assets/images/sprite.svg#fi-payment-security-48"></use>
                    </svg>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">100% Safety</div>
                    <div class="block-features__subtitle">Only secure payments</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item">
                <div class="block-features__icon">
                    <!--<img src="./assets/images/logos/hot-deal.png" style="width: 130%;height: 60px; margin-left: -10%;" />-->

                    <svg width="48px" height="48px">
                        <use xlink:href="./assets/images/sprite.svg#fi-tag-48"></use>
                    </svg>
                </div>
                <div class="block-features__content">
                    <div class="block-features__title">Hot Offers</div>
                    <div class="block-features__subtitle">Discounts up to 90%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .block-features / end -->
