<!-- <app-header></app-header> -->

    <!-- site__body -->
    <div class="site__body">
      <div class="page-header">
        <div class="page-header__container container">
          <div class="page-header__title">
            <h1>Latest News</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="block">
              <div class="posts-view">
                <div class="posts-view__list posts-list posts-list--layout--grid2">
                  <div class="posts-list__body" *ngIf="blogs">
                    <div class="posts-list__item" *ngFor="let blog of blogs.data">
                      <div class="post-card post-card--layout--grid post-card--size--nl">
                        <div class="post-card__image">
                          <a>
                            <!-- <img src="{{blog.image}}" alt=""> -->
                            <img [src]="checkValue(blog.image,'avatar', null)" alt=""></a>
                          <!-- </a> -->
                        </div>
                        <div class="post-card__info" style="display: flex;">
                          <div class="post-card__category">
                            <a href="">Special Offers</a>
                          </div>
                          <div class="post-card__name">
                            <a [routerLink]="['/blog', blog.slug]">{{blog.title}}</a>
                          </div>
                          <div class="post-card__date">{{blog.time | date:'longDate'}}</div>
                          <div class="post-card__content" [line-truncation]="3" [innerHTML]="blog.body"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="style" *ngIf="count(blogs.data) == 0">
                    <div class="lds-facebook">
                    <div></div>
                    <div></div>
                    <div></div>
                    </div>
                </div>
                </div>
                <div class="posts-view__pagination">
                  <ul class="pagination justify-content-center" *ngIf="blogs.total > blogs.per_page">
                    <li class="page-item" (click)="firstPage(blogs)">
                      <a class="page-link page-link--with-arrow"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                    <li class="page-item" *ngIf="blogs.prev_page_url">
                      <a class="page-link page-link--with-arrow" aria-label="Previous" (click)="Previous(blogs)">
                        <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px"
                          height="13px">
                          <use xlink:href="assets/images/sprite.svg#arrow-rounded-left-8x13"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="page-item active"><a class="page-link">{{ blogs.current_page }} <span
                          class="sr-only">(current)</span></a></li>
                    <li class="page-item" *ngIf="blogs.next_page_url">
                      <a class="page-link page-link--with-arrow" aria-label="Next" (click)="next(blogs)">
                        <svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px"
                          height="13px">
                          <use xlink:href="assets/images/sprite.svg#arrow-rounded-right-8x13"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="kt-pagination__link--first" *ngIf="blogs.last_page_url">
                      <a class="page-link page-link--with-arrow" ng-click="lastPage(blogs)"><i
                          class="fa fa-angle-double-right"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="block block-sidebar block-sidebar--position--end">
              <div class="block-sidebar__item">
                <div class="widget-search">
                  <form class="widget-search__body">
                    <input class="widget-search__input" placeholder="Blog search..." type="text" autocomplete="off"
                      spellcheck="false">
                    <button class="widget-search__button" type="submit">
                      <svg width="20px" height="20px">
                        <use xlink:href="assets/images/sprite.svg#search-20"></use>
                      </svg>
                    </button>
                  </form>
                </div>
              </div>
              <div class="block-sidebar__item">
                <div class="widget-aboutus widget">
                  <h4 class="widget__title">About Blog</h4>
                  <div class="widget-aboutus__text"> This blog section is for all technology and related terms articles.
                  </div>
                  <div class="widget-aboutus__socials">
                    <ul>
                      <li>
                        <a class="widget-aboutus__link widget-aboutus__link--facebook"
                          href="#" target="_blank">
                          <i class="widget-aboutus__icon fab fa-facebook-f"></i>
                        </a>
                      </li>
                      <li>
                        <a class="widget-aboutus__link widget-aboutus__link--instagram"
                          href="#" target="_blank">
                          <i class="widget-aboutus__icon fab fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="block-sidebar__item">
                <div class="widget-posts widget">
                  <h4 class="widget__title">Latest Posts</h4>
                  <div class="widget-posts__list">
                    <div class="widget-posts__item" *ngFor="let blog of blogs.data.slice().reverse() | slice:0:3">
                      <div class="widget-posts__image">
                        <a>
                          <!-- <img src="{{blog.image}}" alt=""> -->
                          <img [src]="checkValue(blog.image,'avatar', null)" alt=""></a>
                        <!-- </a> -->
                      </div>
                      <div class="widget-posts__info">
                        <div class="widget-posts__name">
                          <a>{{blog.title}}</a>
                        </div>
                        <div class="widget-posts__date">{{blog.time | date:'longDate'}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block-sidebar__item">
                <div class="widget-newsletter widget">
                  <h4 class="widget-newsletter__title">Our Newsletter</h4>
                  <div class="widget-newsletter__text">Get the best viral stories straight into your inbox!
                  </div>
                  <form class="widget-newsletter__form" action="" [formGroup]="subscriberForm" (ngSubmit)="onSubmit()">
                    <label for="widget-newsletter-email" class="sr-only">Email address</label>
                    <input id="widget-newsletter-email" type="email" class="form-control" placeholder="Email Address"
                      formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email Address is required</div>
                        <div *ngIf="f.email.errors.email">Valid email is required</div>
                      </div>
                      <button type="submit" class="btn btn-primary mt-3" [ladda]="loading">Subscribe</button>
                      <p>Don't worry, we don't spam</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- site__body / end -->