<app-banners></app-banners>
<!-- .block-products -->
<div class="block block-products block-products--layout--large-first">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Featured products</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-products__body">
            <div class="block-products__list" *ngIf="product">
                <div class="block-products__list-item" *ngFor="let item of product let i = index">
                    <div class="product-card">
                        <button class="product-card__quickview"
                                [ngClass]="loading === i ? 'product-card__quickview--preload': ''"
                                type="button" (click)="quickView(item, i)">
                            <svg width="16px" height="16px">
                                <use xlink:href="./assets/images/sprite.svg#quickview-16"></use>
                            </svg>
                            <span class="fake-svg-icon"></span>
                        </button>
                        <div class="product-card__badges-list">
                            <div class="product-card__badge product-card__badge--hot" *ngIf=" i%2 == 1">Hot</div>
                            <div class="product-card__badge product-card__badge--new" *ngIf=" i%2 == 0">New</div>
                        </div>
                        <div class="product-card__image">
                            <a href="#" [routerLink]="['/product', item.slug]">
                                <img [src]="Image_data(item.files[0], 'avatar', 'null') " alt=""></a>
                        </div>
                        <div class="product-card__info">
                            <div class="product-card__name">
                                <a href="#" [routerLink]="['/product', item.slug]">{{item.name}}</a>
                            </div>
                            <div class="product-card__rating">
                                <div class="product-card__rating-legend">11 Reviews</div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__prices">
                                    &#8358;{{item.price | number}}
                                </div>
                                <div class="product-card__buttons">
                                    <button class="btn btn-primary product-card__addtocart"
                                            (click)="addToCart(item)" *ngIf="!checkItemInCart(item)"
                                            type="button">Add To Cart</button>
                                    <button class="btn btn-secondary product-card__addtocart"
                                            type="button" disabled *ngIf="checkItemInCart(item)">In Cart</button>
                                    <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="./assets/images/sprite.svg#wishlist-16"></use>
                                        </svg>
                                        <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- .block-products / end -->
    <!-- .block-banner -->
    <div class="block block-banner mt-3">
        <div class="container" *ngIf="banner">
            <a href="" class="block-banner__body">
                <div class="block-banner__image block-banner__image--desktop"
                        [ngStyle]="{'background-image': getBannerUrl()}"></div>

                <div class="block-banner__image block-banner__image--mobile"
                        [ngStyle]="{'background-image': getBannerUrl()}"></div>
                <div class="block-banner__title">{{banner.details}} <br class="block-banner__mobile-br"> Robotics Tools</div>
                <div class="block-banner__button">
                    <span class="btn btn-sm btn-primary">Shop Now</span>
                </div>
            </a>
        </div>
    </div>
    <!-- .block-banner / end -->

    <!-- .block-product-columns -->
    <div class="block block-product-columns d-lg-block d-none">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="block-header">
                        <h3 class="block-header__title">Top Rated Products</h3>
                        <div class="block-header__divider"></div>
                    </div>
                    <div class="block-product-columns__column" *ngFor="let item of product.slice().reverse() | slice:0:3; let i = index">
                        <div class="block-product-columns__item">
                            <div class="product-card product-card--layout--horizontal">
                                <button class="product-card__quickview" type="button">
                                    <svg width="16px" height="16px">
                                        <use xlink:href="./assets/images/sprite.svg#quickview-16"></use>
                                    </svg>
                                    <span class="fake-svg-icon"></span>
                                </button>
                                <div class="product-card__badges-list">
                                    <div class="product-card__badge product-card__badge--new">New</div>
                                </div>
                                <div class="product-card__image">
                                    <a href="#" [routerLink]="['/product', item.slug]">
                                        <img [src]="Image_data(item.files[0], 'avatar', 'null') " alt=""></a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a href="#" [routerLink]="['/product', item.slug]">{{item.name}}</a>
                                    </div>
                                    <div class="product-card__rating">
                                        <div class="product-card__rating-stars">
                                        </div>
                                        <div class="product-card__rating-legend">9 Reviews</div>
                                    </div>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__availability" style="font-size: 13px;display:block">
                                        Availability:
                                        <span  [ngClass]="item.quantity > 0 ? 'text-avail': 'text-Unavail'">{{avail(item.quantity)}}</span>
                                    </div>
                                    <div class="product-card__prices">
                                        &#8358;{{item.price | number}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="block-header">
                        <h3 class="block-header__title">Special Offers</h3>
                        <div class="block-header__divider"></div>
                    </div>
                    <div class="block-product-columns__column" *ngFor="let items of product | slice:0:3; let i = index">
                        <div class="block-product-columns__item">
                            <div class="product-card product-card--layout--horizontal">
                                <button class="product-card__quickview" type="button">
                                    <svg width="16px" height="16px">
                                        <use xlink:href="./assets/images/sprite.svg#quickview-16"></use>
                                    </svg>
                                    <span class="fake-svg-icon"></span>
                                </button>
                                <div class="product-card__badges-list">
                                    <div class="product-card__badge product-card__badge--sale">Sale</div>
                                </div>
                                <div class="product-card__image">
                                    <a href="#" [routerLink]="['/product', items.id]">
                                        <img [src]="Image_data(items.files[0], 'avatar', 'null')" alt=""/></a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a href="#">{{items.name}}</a>
                                    </div>
                                    <div class="product-card__rating">
                                        <div class="product-card__rating-legend">7 Reviews</div>
                                    </div>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__availability">
                                        Availability: <span class="text-avail">In Stock</span>
                                    </div>
                                    <div class="product-card__prices">
                                        <span class="product-card__new-price">
                                            &#8358;{{items.price | number}}</span>
                                        <span class="product-card__old-price">{{items.price *2 | number}}</span>
                                    </div>
                                    <div class="product-card__buttons">
                                        <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button>
                                        <button class="btn btn-secondary product-card__addtocart
                                        product-card__addtocart--list" type="button">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="block-header">
                        <h3 class="block-header__title">Bestsellers</h3>
                        <div class="block-header__divider"></div>
                    </div>
                    <div class="block-product-columns__column" *ngFor="let items of product | slice:0:3; let i = index">
                        <div class="block-product-columns__item">
                            <div class="product-card product-card--layout--horizontal">
                                <button class="product-card__quickview" type="button">
                                    <svg width="16px" height="16px">
                                        <use xlink:href="./assets/images/sprite.svg#quickview-16"></use>
                                    </svg>
                                    <span class="fake-svg-icon"></span>
                                </button>
                                <div class="product-card__image">
                                    <a href="#" [routerLink]="['/product', items.id]">
                                        <img [src]="Image_data(items.files[0], 'avatar', 'null')" alt=""></a>
                                </div>
                                <div class="product-card__info">
                                    <div class="product-card__name">
                                        <a href="#" [routerLink]="['/product', items.id]">{{items.name}}</a>
                                    </div>
                                    <div class="product-card__rating">
                                        <div class="product-card__rating-legend">4 Reviews</div>
                                    </div>
                                </div>
                                <div class="product-card__actions">
                                    <div class="product-card__availability">
                                        Availability: <span class="text-success">In Stock</span>
                                    </div>
                                    <div class="product-card__prices">
                                        &#8358;{{items.price | number}}
                                    </div>
                                    <div class="product-card__buttons">
                                        <button class="btn btn-primary product-card__addtocart" type="button">Add To Cart</button>
                                        <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .block-product-columns / end -->

    <!-- .block-posts -->
    <div class="block block-posts block-posts--layout--list-sm" data-layout="list-sm">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">Latest News</h3>
                <div class="block-header__divider"></div>
                <div class="block-header__arrows-list">
                    <button class="block-header__arrow block-header__arrow--left" type="button">
                        <svg width="7px" height="11px">
                            <use xlink:href="./assets/images/sprite.svg#arrow-rounded-left-7x11"></use>
                        </svg>
                    </button>
                    <button class="block-header__arrow block-header__arrow--right" type="button">
                        <svg width="7px" height="11px">
                            <use xlink:href="./assets/images/sprite.svg#arrow-rounded-right-7x11"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="block-posts__slider">
                <div class="owl-carousel">
                    <div class="post-card">
                        <div class="post-card__image">
                            <a href="">
                                <img src="./assets/images/posts/post-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-card__info">
                            <div class="post-card__category">
                                <a href="">Special Offers</a>
                            </div>
                            <div class="post-card__name">
                                <a href="">Philosophy That Addresses Topics Such As Goodness</a>
                            </div>
                            <div class="post-card__date">October 19, 2019</div>
                            <div class="post-card__content">
                                In one general sense, philosophy is associated with wisdom,
                                intellectual culture and a search for knowledge.
                                In that sense, all cultures...
                            </div>
                            <div class="post-card__read-more">
                                <a href="" class="btn btn-secondary btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="post-card">
                        <div class="post-card__image">
                            <a href="">
                                <img src="./assets/images/posts/post-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="post-card__info">
                            <div class="post-card__category">
                                <a href="">Latest News</a>
                            </div>
                            <div class="post-card__name">
                                <a href="">Logic Is The Study Of Reasoning And Argument Part 2</a>
                            </div>
                            <div class="post-card__date">September 5, 2019</div>
                            <div class="post-card__content">
                                In one general sense, philosophy is associated with wisdom,
                                intellectual culture and a search for knowledge.
                                In that sense, all cultures...
                            </div>
                            <div class="post-card__read-more">
                                <a href="" class="btn btn-secondary btn-sm">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .block-posts / end -->

<!-- quickview-modal -->
<!-- Modal Section -->
<ngx-smart-modal #productModal identifier="productModal" customClass="modal-width"
                class="nsm-dialog-animation-fade">
    <div class="quickview" *ngIf="productModal.hasData()">
        <div class="product product--layout--quickview" data-layout="quickview">
            <div class="product__content">
                <!-- .product__gallery -->
                <div class="product__gallery">
                    <ngx-gallery *ngIf="galleryImages" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
                <!-- .product__gallery / end -->
                <!-- .product__info -->
                <div class="product__info">
                    <h1 class="product__name">{{productModal.getData().name}}</h1>
                    <div class="product__rating">
                        <div class="product__rating-legend">
                            <a *ngIf="count(productModal.getData().reviews) > 0">{{count(productModal.getData().reviews)}}</a>
                        </div>
                    </div>
                    <div class="product__description">
                        {{productModal.getData().description}}

                    </div>
                    <ul class="product__meta">
                        <li class="product__meta-availability">Availability:
                            <span [ngClass]="productModal.getData().quantity > 0 ? 'text-avail' : 'text-Unavail' ">
                                {{avail(productModal.getData().quantity)}}
                            </span>
                        </li>
                        <li>Brand: <a>{{productModal.getData().brand}}</a></li>
                        <li>SKU: {{productModal.getData().sku.sku_no }}</li>
                        <li *ngIf="productModal.getData().content">Content: {{productModal.getData().content }}</li>
                    </ul>
                </div>
                <!-- .product__info / end -->
                <!-- .product__sidebar -->
                <div class="product__sidebar">
                    <div class="product__availability">
                        Availability: <span class="text-avail">In Stock</span>
                    </div>
                    <div class="product__prices">
                        &#8358;{{productModal.getData().price|number}}
                    </div>
                    <!-- .product__options -->
                    <form class="product__options">
                        <div class="form-group product__option">
                            <div class="product__actions">
                                <button class="btn btn-primary product-card__addtocart"
                                        (click)="addToCart(productModal.getData())" *ngIf="!checkItemInCart(productModal.getData())"
                                        type="button">Add To Cart</button>
                                <button class="btn btn-secondary product-card__addtocart"
                                        type="button" disabled *ngIf="checkItemInCart(productModal.getData())">In Cart</button>
                            </div>
                        </div>
                    </form>
                    <!-- .product__options / end -->
                </div>
                <!-- .product__end -->
                <div class="product__footer">
                    <div class="product__tags tags">
                        <!--<div class="tags__list">-->
                            <!--<a href="">Mounts</a>-->
                            <!--<a href="">Electrodes</a>-->
                            <!--<a href="">Chainsaws</a>-->
                        <!--</div>-->
                    </div>
                    <div class="product__share-links share-links">
                        <ul class="share-links__list">
                            <li class="share-links__item share-links__item--type--like"><a href="">Like</a></li>
                            <li class="share-links__item share-links__item--type--tweet"><a href="">Tweet</a></li>
                            <li class="share-links__item share-links__item--type--pin"><a href="">Pin It</a></li>
                            <li class="share-links__item share-links__item--type--counter"><a href="">4K</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<!-- quickview-modal / end -->
