<!-- <app-header [is_cartNeeded]="false"></app-header> -->

<div class="checkout block mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-7">
        <form [formGroup]="checkoutForm" (ngSubmit)="calculateDeliveryFee()">
          <div class="card mb-lg-0">
            <div class="card-body">
              <h3 class="card-title">Shipping Details</h3>
              <div class="form-group">
                <label for="checkout-name">First name</label>
                <input type="text" class="form-control" id="checkout-fname" [(ngModel)]="currentUser.fname"
                  placeholder="First name" formControlName="fname"
                  [ngClass]="{ 'is-invalid':submitted && f.fname.errors }" />
                <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                  <div *ngIf="f.fname.errors.required">First name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="checkout-name">Last name</label>
                <input type="text" class="form-control" id="checkout-lname" [(ngModel)]="currentUser.lname"
                  placeholder="Last name" formControlName="lname"
                  [ngClass]="{ 'is-invalid':submitted && f.lname.errors }" />
                <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                  <div *ngIf="f.lname.errors.required">Last name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="checkout-email">Email address</label>
                <input type="email" class="form-control" id="checkout-email" [(ngModel)]="currentUser.email"
                  placeholder="Email address" formControlName="email"
                  [ngClass]="{ 'is-invalid':submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Valid email is required</div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12 col-lg-5">
                  <label for="checkout-phone">Phone</label>
                  <input type="text" class="form-control" id="checkout-phone" [(ngModel)]="currentUser.phone"
                    placeholder="Phone" (keyup)="checkPhone()" formControlName="phone"
                    [ngClass]="{ 'is-invalid':submitted && f.phone.errors }" />
                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Phone number is required</div>
                  </div>
                </div>
                <div class="form-group col-12 col-lg-7">
                  <label for="checkout-state">State/Region</label>
                  <select type="text" class="form-control" id="checkout-state" placeholder="State"
                    formControlName="state" [ngClass]="{ 'is-invalid':submitted && f.state.errors }"
                    [(ngModel)]="currentUser.state">
                    <option value="{{state.name}}" *ngFor="let state of states">{{state.name}}</option>
                  </select>
                  <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                    <div *ngIf="f.state.errors.required">Select a state</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12 col-lg-5">
                  <label for="checkout-city">City</label>
                  <input type="text" class="form-control" id="checkout-city" placeholder="City" formControlName="city"
                    [ngClass]="{ 'is-invalid':submitted && f.city.errors }" [(ngModel)]="currentUser.city" />
                  <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">City is required</div>
                  </div>
                </div>
                <div class="form-group col-12 col-lg-7">
                  <label for="checkout-address">Address</label>
                  <input type="text" class="form-control" id="checkout-address" placeholder="Address"
                    [(ngModel)]="currentUser.address" formControlName="address"
                    [ngClass]="{ 'is-invalid':submitted && f.address.errors }" />
                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required">Phone number is required</div>
                  </div>
                </div>

              </div>
              <div class="row" *ngIf="!proceed">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                  <button type="submit" class="btn btn-round btn-primary waves-effect btn-block" [ladda]="loading">
                    Continue
                  </button>
                </div>
                <div class="col-lg-4"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
        <div class="card mb-0">
          <div class="card-body">
            <h3 class="card-title">Your Order</h3>
            <table class="checkout__totals">
              <thead class="checkout__totals-header">
                <tr>
                  <th>Product</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody class="checkout__totals-products">
                <tr *ngFor="let item of cart">
                  <td>{{item.product.name}} × {{item.quantity}}</td>
                  <td>&#8358;{{item.quantity * item.product.price | number}}</td>
                </tr>
              </tbody>
              <tbody class="checkout__totals-subtotals">
                <tr>
                  <th>Subtotal</th>
                  <td>&#8358;{{Subtotal() | number}}</td>
                </tr>
                <tr>
                  <th>Delivery fee</th>
                  <td>{{deliveryFee| number}}</td>
                </tr>
                <tr>
                  <th>VAT Fee</th>
                  <td>{{percentage}}</td>
                </tr>
              </tbody>
              <tfoot class="checkout__totals-footer">
                <tr>
                  <th>GrandTotal</th>
                  <td>{{grandTotal | number}}</td>
                </tr>
              </tfoot>
            </table>
            <div class="payment-methods" *ngIf="proceed">
              <button angular4-paystack [key]="transactionKey" [email]="userData.email" [amount]="grandTotal+'00'"
                [ref]="transactionRef.value" [class]="'btn btn-primary'" (close)="transactionCancelled()"
                (callback)="transactionSuccessful($event)" [ladda]="processing"
                class="btn btn-round btn-primary waves-effect btn-block">
                Place Order
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
