<!-- <app-header [is_cartNeeded]="false"></app-header> -->

<div class="checkout block mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="card mb-lg-0">
          <div class="card-body">
            <h3 class="card-title">Shipping Details</h3>
            <div class="form-group">
              <label for="checkout-name">First name</label>
              <input type="text" [disabled]="disabled" class="form-control" id="checkout-fname"
                [(ngModel)]="userData.fname" placeholder="First name">
            </div>
            <div class="form-group">
              <label for="checkout-name">Last name</label>
              <input type="text" [disabled]="disabled" class="form-control" id="checkout-lname"
                [(ngModel)]="userData.lname" placeholder="Last name">
            </div>
            <div class="form-row">
              <div class="form-group col-6">
                <label for="checkout-email">Email address</label>
                <input type="email" [disabled]="disabled" class="form-control" id="checkout-email"
                  [(ngModel)]="userData.email" placeholder="Email address">
              </div>
              <div class="form-group col-6">
                <label for="checkout-phone">Phone</label>
                <input type="text" [disabled]="disabled" class="form-control" id="checkout-phone"
                  [(ngModel)]="userData.phone" placeholder="Phone" (keyup)="checkPhone()">
              </div>
            </div>
            <div class="form-group">
              <label for="checkout-address">Address</label>
              <input type="text" class="form-control" id="checkout-phone" placeholder="Address">
              <!-- <br />
              <span *ngIf="addressError" class="text-danger mt-3" [innerHtml]="addressError"></span>

              <div *ngIf="verifyError" class="notice_bar danger mt-3 shadow text-center">
                <p class="text-danger">{{ verifyError }}</p>
              </div> -->
            </div>
            <div class="form-group">
              <label for="checkout-state">State/Region</label>
              <select type="text" class="form-control" id="checkout-state" placeholder="State"></select>
            </div>
            <div class="form-group">
              <label for="checkout-city">City</label>
              <select type="text" class="form-control" id="checkout-city" placeholder="City"></select>
            </div>
          </div>

          <!-- <div class="form-group mt-4">
              <div class="form-check">
                <span class="form-check-input input-check">
                  <span class="input-check__body">
                    <input class="input-check__input" type="checkbox" id="checkout-create-account">
                    <span class="input-check__box"></span>
                    <svg class="input-check__icon" width="9px" height="7px">
                      <use xlink:href="./assets/images/sprite.svg#check-9x7"></use>
                    </svg>
                  </span>
                </span>
                <label class="form-check-label" for="checkout-create-account">Create an account?</label>
              </div>
            </div> -->
        </div>
        <div class="card-divider"></div>
      </div>
    <!-- </div> -->
    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
      <div class="card mb-0">
        <div class="card-body">
          <h3 class="card-title">Your Order</h3>
          <table class="checkout__totals">
            <thead class="checkout__totals-header">
              <tr>
                <th>Product</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody class="checkout__totals-products">
              <tr *ngFor="let item of cart">
                <td>{{item.product.name}} × {{item.quantity}}</td>
                <td>&#8358;{{item.quantity * item.product.price | number}}</td>
              </tr>
            </tbody>
            <tbody class="checkout__totals-subtotals">
              <tr>
                <th>Subtotal</th>
                <td>&#8358;{{Subtotal() | number}}</td>
              </tr>
              <tr>
                <th>Delivery fee</th>
                <td>{{deliveryFee| number}}</td>
              </tr>
              <tr>
                <th>VAT Fee</th>
                <td>{{percentage}}</td>
              </tr>
            </tbody>
            <tfoot class="checkout__totals-footer">
              <tr>
                <th>GrandTotal</th>
                <td>{{grandTotal | number}}</td>
              </tr>
            </tfoot>
          </table>
          <div class="payment-methods" *ngIf="proceed">
            <button angular4-paystack [key]="transactionKey" [email]="userData.email" [amount]="grandTotal+'00'"
              [ref]="transactionRef.value" [class]="'btn btn-primary'" (close)="transactionCancelled()"
              (callback)="transactionSuccessful($event)" [ladda]="processing"
              class="btn btn-round btn-primary waves-effect btn-block">
              Place Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
