  <div class="block-products__list">
    <div class="block-products__list-item" *ngFor="let item of data">
      <div class="product-card">
        <div class="product-card__image">
          <ngx-skeleton-loader animation="progress" [theme]="{ 
                        'border-radius': '5px',
                        height: '140px',
                        'background-color': 'rgb(216 212 212)',
                        border: '1px solid white'
                        }"></ngx-skeleton-loader>
        </div>
        <div class="product-card__info">
          <div class="product-card__name">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
